@import url('https://fonts.googleapis.com/css?family=Oswald');


html {
  background-color: #fffaf6;
  font-family: sans-serif, Oswald;
  color: #011a23;
}

body {
  font-family: sans-serif, Oswald;
  color: #011a23;
}


